# Copy to .env and fill in values from CDK outputs (cdk deploy --all)
# See: cdk outputs storyteller-dev-api

VITE_AUTH_MODE=cognito
VITE_COGNITO_USER_POOL_ID=    # from ApiStack output: UserPoolId
VITE_COGNITO_CLIENT_ID=       # from ApiStack output: UserPoolClientId
